* {
  width: 100%;
  margin: 8px;
  /* background-color: rgb(241, 241, 241); */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.header-nav {
  width: fit-content;
  display: flex;
  justify-content: end;
}

nav {
  gap: 30px;
  display: flex;
  align-items: center;
}

.logo-front {
  height: 100px;
  width: 150px;
}

.logo,
.pricing-image {
  height: 48px;
  width: 48px;
}

.logo-background {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px 5px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-logo {
  background-image: url(../assets/bg/background-top.svg);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.video-container {
  width: 30%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.video-container h2 {
  font-size: 60px;
}

.video-container p {
  font-size: 15;
  color: rgb(71, 71, 71);
}

.learning-video {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.buy-button {
  height: 40px;
  width: 100px;
  background-color: blue;
  color: white;
  border-radius: 25px;
  border: solid 1px blue;
}


.video-button {
  height: 40px;
  width: 200px;
  background-color: blue;
  color: white;
  border-radius: 25px;
  border: solid 1px blue;
}

.various-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.whyFront {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-link {
  color: gray;
  text-decoration: none;
}

.hiring {
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.plan-features {
  display: flex;
  flex-direction: row;
}

.pricing-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.whyFrontSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whyFront {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-footer {
  height: 40px;
  width: 100px;
}